{% extends "base.html" %}

{% block title %}
	{{ category }}
{% endblock %}

{% load djobs_tags %}

{% block content %}
<div class="main-content">
	<h2>{{ category }}</h2>

	{% if object_list%}

	<ul id="job_list">

	{% for object in object_list %}
		<li class="job">
			<a href="{{ object.get_absolute_url }}">{{ object }}</a> 
			<ul class="clearfix">
				<li>Added {{ object.created_date|timesince }} ago</li>
				<li>{{ object.get_employment_type_display }} </li>
				<li>{{ object.get_employment_level_display }}</li>
				<li>{{ object.location.city }}, {{ object.location.state }}</li>
			</ul>
		</li>
	{% endfor %}
	
	</ul>
	
	{% else %}
	
	<div class="notice">There are currently no listings in this category.</div>
	
	{% endif %}
	
</div>
<div class="sidebar">
	
	{% include "search.html" %}
	
	{% get_recent_jobs_for_obj category 10 as recent_jobs %}
	{% if  recent_jobs %}
	
	<h3>Recently added in {{ category }}</h2>
	<ul>
	
	{% for item in recent_jobs %}
		<li>
			<a href="{{ item.get_absolute_url }}">{{ item.title }} at {{ item.employer }}</a><br />
			<em>Added {{ item.created_date|timesince }} ago</em>
		</li>
	{% endfor %}
	</ul>
	
	{% endif %}
	
</div>
{% endblock %}