{% extends "base.html" %}

{% block title %}
	{% if add %}Create{% else %}Edit{% endif %} Employer
{% endblock %}

{% block head_extra %}
	{{ block.super }}
	<script type="text/javascript">
		// to set WMD's options programatically, define a "wmd_options" object with whatever settings
		// you want to override.  Here are the defaults:
        wmd_options = {
			// format sent to the server.  Use "Markdown" to return the markdown source.
			output: "Markdown",

			// line wrapping length for lists, blockquotes, etc.
			lineLength: 40,

			// toolbar buttons.  Undo and redo get appended automatically.
			buttons: "bold italic | link blockquote | ol ul heading hr",

			// option to automatically add WMD to the first textarea found.  See apiExample.html for usage.
			autostart: true
		};
	</script>
	
	{{ employer_form.media }}
{% endblock %}

{% block content %}
<div class="main-content">
	<h2>{% if add %}Create{% else %}Edit{% endif %} Employer</h2>
	<form class="form" enctype="multipart/form-data" id="create-employer-form" action="" method="POST">
		<dl>
		 {% for field in employer_form %}
			{% include "djobs/form_snippet.html" %}
		{% endfor %}
		</dl>
		<input class="submit" type="submit" value="Save Employer" />
	</form>
</div>
<div class="sidebar">
	<h3>More Information</h3>
	{% if add %}
	<p>You must first create an employer before you can create a job. Be sure to include any relevant information applicable to job seekers, including company history; contact information can be added to each job posting. Jobs listed with this employer will be listed on the employer detail page.  Required fields are indicated by a red asterisk.</p>
	{% else %}
	<p>You may make changes to this employer's profile. It is to your advantage to provide as detailed information as possible. Please be sure to fill in all required fields, which are indicated by a red asterisk.</p>
	{% endif %}
</div>
{% endblock %}