{% extends "base.html" %}

{% block content %}
<div class="main-content">
	<h2>{{ employer }}</h2>
	<p>{{ employer.profile }}</p>
	
	<h2>Jobs listed with {{ employer }}</h2>
	
	{% if object_list %}
	
	<ul id="job_list">
	
	{% for object in object_list %}
		<li class="job">
			<a href="{{ object.get_absolute_url }}">{{ object.title }}</a> 
			<ul class="clearfix">
				<li>Added {{ object.created_date|timesince }} ago</li>
				<li>{{ object.get_employment_type_display }} </li>
				<li>{{ object.get_employment_level_display }}</li>
			</ul>
			<p>{{ object.description|safe|striptags|truncatewords:"30" }} <a href="{{ object.get_absolute_url }}">more</a> </p>
		</li>
	{% endfor %}
	
	</ul>
	
	{% else %}
	
	<div class="notice">
		There are no jobs listed with {{ employer }}.
	</div>
	
	{% endif %}
	
</div>
<div class="sidebar">
	<img class="employer-image" src="{{ employer.logo.display.url }}" alt="{{ employer }}" />
</div>
{% endblock %}