{% extends "base.html" %}

{% block title %}
	{{ employer }}
{% endblock %}

{% block content %}
<div class="main-content">
	<h2>{{ employer }}</h2>
	<p>{{ employer.profile_html|safe }}</p>
	
	<h2>Listed Jobs</h2>
	
	{% if object_list %}
	
	<ul id="job_list">
	
	{% for object in object_list %}
		<li class="job">
			<a href="{{ object.get_absolute_url }}">{{ object.title }}</a> 
			<ul class="clearfix">
				<li>Added {{ object.created_date|timesince }} ago</li>
				<li>{{ object.get_employment_type_display }} </li>
				<li>{{ object.get_employment_level_display }}</li>
				<li>{{ object.location.city }}, {{ object.location.state }}</li>
			</ul>
		</li>
	{% endfor %}
	
	</ul>
	
	{% else %}
	
	<div class="notice">
		There are no jobs listed with {{ employer }}.
	</div>
	
	{% endif %}
	
</div>
<div class="sidebar">
	
	{% include "search.html" %}
		
	<img class="employer-image" src="{{ employer.logo.display.url }}" alt="{{ employer }}" />

	{% if user == employer.administrator %}
	
	<h3>Actions</h3>
	<ul>
		<li><a href="{% url djobs_edit_employer employer.id %}">Edit employer</a></li>
	</ul>
	{% endif %}
</div>
{% endblock %}