{% extends "base.html" %}

{% block title %}
	Home
{% endblock %}

{% load djobs_tags %}

{% block content %}
	<div class="main-content">
	
		<h2>Category List</h2>
		
		{% job_categories %}
		
	</div>
	<div class="sidebar">
	
		{% include "search.html" %}
	
		<h2>About Us</h2>
		
		<p>Whether you're new to the job market or looking to advance in your present career, midwestcareers.com is the place to pursue your career goals and aspirations.</p>
		
		{% get_recent_jobs 10 as recent_jobs %}
		{% if recent_jobs %}
		
		<h2>Newest Additions</h2>
		<ul>
		
		{% for item in recent_jobs %}
			<li>
				<a href="{{ item.get_absolute_url }}">{{ item.title }} at {{ item.employer }}</a><br />
				<em>Added {{ item.created_date|timesince }} ago</em>
			</li>
		{% endfor %}
		
		</ul>
		
		{% endif %}
	
	</div>
{% endblock %}