{% extends "base.html" %}

{% load djobs_tags %}

{% block content %}
	<div class="main-content">
	
		<h2>Category List</h2>
		
		{% job_categories %}
		
	</div>
	<div class="sidebar">
	
		<h2>About Us</h2>
		
		<p>Whether you're new to the job market or looking to advance in your present career, MidwestCareers.com is the place to start for your career goals and aspirations.</p>
		
		<h2>Newest Additions</h2>
		
		<ul>
			<li>
				<a href="#">Forklift Operator</a>
			</li>
		</ul>
		
		
	</div>
{% endblock %}