{% extends "base.html" %}

{% block title %}
	{% if add %}Create{% else %}Edit{% endif %} Job
{% endblock %}

{% block content %}
<div class="main-content">
	<h2>{% if add %}Create{% else %}Edit{% endif %} Job</h2>
	<form class="form" id="create-job-form" action="" method="POST">
	
		<h3>Job Information</h3>
		<dl>
		 {% for field in job_form %}
			 {% include "djobs/form_snippet.html" %}
		{% endfor %}
		</dl>
		
		<h3>Location Information</h3>
		<dl>
		 {% for field in location_form %}
			{% include "djobs/form_snippet.html" %}
		{% endfor %}
		</dl>
		
		<h3>Contact Information</h3>
		<p>Please include a contact 
		<dl>
		 {% for field in contact_form %}
			{% include "djobs/form_snippet.html" %}
		{% endfor %}
		</dl>
		
		<input class="submit" type="submit" value="Save Job" />
	</form>
</div>
<div class="sidebar">
	<h3>More Information</h3>
	<p>Please be sure to include all relevant information. Jobs will be automatically approved and immediately visible on the site.</p>
</div>
{% endblock %}