{% extends "base.html" %}

{% block title %}
	{% if add %}Create{% else %}Edit{% endif %} Job
{% endblock %}

{% block head_extra %}
	{{ block.super }}
	<script type="text/javascript">
		// to set WMD's options programatically, define a "wmd_options" object with whatever settings
		// you want to override.  Here are the defaults:
        wmd_options = {
			// format sent to the server.  Use "Markdown" to return the markdown source.
			output: "Markdown",

			// line wrapping length for lists, blockquotes, etc.
			lineLength: 40,

			// toolbar buttons.  Undo and redo get appended automatically.
			buttons: "bold italic | link blockquote | ol ul heading hr",

			// option to automatically add WMD to the first textarea found.  See apiExample.html for usage.
			autostart: true
		};
	</script>
	
	{{ job_form.media }}
{% endblock %}

{% block content %}
	<h1>{% if add %}Create{% else %}Edit{% endif %} Job</h1>
	<form id="create-job-form" action="" method="POST">
		<table>
			<tr><td>Job Info:</td></tr>
			{{ job_form.as_table }}
			
			<tr><td>Location Info:</td></tr>
			{{ location_form.as_table }}
			
			<tr><td>Contact Info:</td></tr>
			{{ contact_form.as_table }}
			
			<tr><td><input type="submit" value="Save Job" /></td></tr>
		</table>
	</form>
{% endblock %}