{% extends "base.html" %}

{% block title %}
	{% if add %}Create{% else %}Edit{% endif %} Job
{% endblock %}

{% block head_extra %}
	{{ block.super }}
	<script type="text/javascript">
		// to set WMD's options programatically, define a "wmd_options" object with whatever settings
		// you want to override.  Here are the defaults:
		wmd_options = {
			// format sent to the server.  Use "Markdown" to return the markdown source.
			output: "Markdown",

			// line wrapping length for lists, blockquotes, etc.
			lineLength: 40,

			// toolbar buttons.  Undo and redo get appended automatically.
			buttons: "bold italic | link blockquote | ol ul heading hr",

			// option to automatically add WMD to the first textarea found.  See apiExample.html for usage.
			autostart: true
		};
	</script>
	
	{{ job_form.media }}
{% endblock %}

{% block content %}
<div class="main-content">
	<h2>{% if add %}Create{% else %}Edit{% endif %} Job</h2>
	<form class="form" id="create-job-form" action="" method="POST">
	
		<h3>Job Information</h3>
		<dl>
		 {% for field in job_form %}
			{% include "djobs/form_snippet.html" %}
		{% endfor %}
		</dl>
		
		<h3>Location Information</h3>
		<dl>
		 {% for field in location_form %}
			{% include "djobs/form_snippet.html" %}
		{% endfor %}
		</dl>
		
		<h3>Contact Information</h3>
		<p>Please include a contact person for this position.</p>
		<dl>
		 {% for field in contact_form %}
			{% include "djobs/form_snippet.html" %}
		{% endfor %}
		</dl>
		
		<input class="submit" type="submit" value="Save Job" />
	</form>
</div>
<div class="sidebar">
	<h3>More Information</h3>
	{% if add %}
	<p>Here you can create a new job. Please be sure to include detailed information about the position, such as job roles and responsibilities, required qualifications or salary and benefits. Jobs will be automatically approved and immediately visible on the site. Required fields are marked with a red asterisk. If you are unable to select an employer, please <a href="{% url djobs_create_employer %}">click here to create a new employer</a>.</p>
	{% else %}
	<p>Here you can edit this job's information. Please ensure that you have filled in all required fields, which are indicated by a red asterisk. If you are adding a new position, please <a href="{% url djobs_create_job %}">click here to add a new job</a>.</p>
	{% endif %}
</div>
{% endblock %}