{% extends "base.html" %}

{% block title %}
	{{ object.title }}
{% endblock %}

{% block metadescription %}
	<meta name="description" content="{{ object.description|striptags|truncatewords:'20' }}" />
{% endblock %}

{% block content %}
<div class="main-content">
	<h2>{{ object.title }}</h2>

	{% if object.employer %}
	<label for="job_employer">Employer:</label>
	<p id="job_employer"><a href="{{ object.employer.get_absolute_url }}">{{ object.employer }}</a></p>
	{% endif %}

	{% if object.description %}
	<label for="job_description">Description:</label>
	<p id="job_description">{{ object.description_html|safe }}</p>
	{% endif %}
	
	{% if object.location %}
	<label for="job_location">Location:</label>
	<p id="job_location">{{ object.location }}</p>
	{% endif %}

	{% if object.category %}
	<label for="job_category">Category:</label>
	<p id="job_category"><a href="{{ object.category.get_absolute_url }}">{{ object.category }}</a></p>
	{% endif %}

	{% if object.created_date %}
	<label for="job_created_date">Date listed:</label>
	<p id="job_created_date">{{ object.created_date|date:"F j, Y" }} <em>({{ object.created_date|timesince }} ago)</em></p>
	{% endif %}

	{% if object.employment_type %}
	<label for="job_employment_type">Employment type:</label>
	<p id="job_employment_type">{{ object.get_employment_type_display }}</p>
	{% endif %}

	{% if object.employment_level %}
	<label for="job_employment_level">Employment level:</label>
	<p id="job_employment_level">{{ object.get_employment_level_display }}</p>
	{% endif %}

	<label for="job_employment_level">Contact:</label>
	<p id="job_employment_level">
	
		{{ object.contact }}
		
		{% if object.contact.phone %}
		<br />
		{{ object.contact.phone }}
		{% endif %}
		
		{% if object.contact.email %}
		<br />
		<a href="mailto:{{ object.contact.email }}">{{ object.contact.email }}</a>
		{% endif %}
		
		{% if object.contact.url %}
		<br />
		<a href="{{ object.contact.url }}">{{ object.contact.url }}</a>
		{% endif %}
		
	</p>
	
</div>
<div class="sidebar">
	
	{% include "search.html" %}
	
	<a class="employer-image" href="{{ object.employer.get_absolute_url }}">
		<img src="{{ object.employer.logo.display.url }}" alt="{{ object.employer }}" />
	</a>

	<h3>{{ object.employer }}</h3>
	
	{% if object.employer.profile %}
	<p>
		{{ object.employer.profile|truncatewords:"50" }} <a href="{{ object.employer.get_absolute_url }}">more...</a>
	</p>
	{% endif %}

	{% if user == object.employer.administrator %}
	
	<h3>Actions</h3>
	<ul>
		<li><a href="{% url djobs_edit_job object.id %}">Edit job</a></li>
		<li><a href="{% url djobs_delete_job object.id %}">Delete job</a></li>
		<li><a href="{% url djobs_edit_employer object.employer.id %}">Edit employer</a></li>
	</ul>
	
	{% endif %}
	
</div>
{% endblock %}