<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
    	<title>{% block title %}{% endblock %} - midwestcareers.com</title>
        <link rel="stylesheet" href="{{ MEDIA_URL }}css/blueprint/screen.css" type="text/css" media="screen, projection" />
        <link rel="stylesheet" href="{{ MEDIA_URL }}css/blueprint/print.css" type="text/css" media="print" />
	<link rel="stylesheet" href="{{ MEDIA_URL }}css/global.css" type="text/css" media="screen, projection" />
	<link rel="stylesheet" href="{{ MEDIA_URL }}themes/01/style.css" type="text/css" media="screen, projection" />
	<link rel="stylesheet" href="{{ MEDIA_URL }}apps/djobs/style.css" type="text/css" media="screen, projection" />
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"></script>
	{% block head_extra %}{% endblock %}
    </head>
    <body class="mwcradio">
		<ul class="reverse top-bar clearfix">
			{% if user.is_authenticated %}
			<li><a href="/accounts/logout">Log Out</a></li>
			<li><a href="/accounts/password/change">Change Password</a></li>
			<li><a href="{% url djobs_manage %}">Manage Account</a></li>
			{% else %}
			<li><a href="/accounts/login">Log In</a></li>
			<li><a href="/accounts/register">Register</a></li>
			{% endif %}
		</ul>
		<div id="header">
			<div class="header-inner clearfix">
				<h1><a class="logo" href="/"><img src="{{ MEDIA_URL }}themes/01/logo.png" alt="Midwest Careers Logo" title="Midwest Careers" /></a></h1>
				
			</div>
		</div>
		<div id="nav"></div>
		<div class="wrap">
			<div class="wrap-inner clearfix">
				{% block content %}
				{% endblock %}
			</div>
		</div>
		<div id="footer">	
			<div class="wrap-inner site-credits clearfix">
				&copy; {% now "Y" %} Midwest Communications and WRIG, Inc. <a href="mailto:webmaster@mwcradio.com">Webmaster</a>
			</div>
		</div>
    </body>
</html>