* {
	margin: 0;
	padding: 0 }
 
body { color: #0F0F0F }
 
h1 { font-size: 1.5em; }
 
h2 { font-size: 1.4em; }
 
h3 { font-size: 1.25em }
 
a:link, a:active {
	color: #29866b;
	text-decoration: none; }
 
a:visited {
	color: #864958;
	text-decoration: none; }
 
a:hover {
	color: #864958;
	text-decoration: underline; }
 
.header-inner, .wrap-inner {
	font-size: 1.2em;
	margin: 0 auto;
	padding: 0 3%;
	width: 960px; }
 
#header .header-inner h1 {
	float: left;
	margin: 0;
	padding: 3% 0 0 0; }
 
#nav { padding: 1% 0; }
 
	#nav ul {
		margin: 0 0 0 -8px;
		padding: 0; }
 
		#nav ul > li {
			float: left;
			list-style-type: none;
			padding: 0 10px 0 0; }
 
			#nav ul > li > a {
				color: #09447E;
				display: block;
				font-weight: bold;
				padding: 3px 8px;
				text-decoration: none; }
 
				#nav ul > li > a:hover {
					background-color: #09447e;
					color: #fff; }
 
.wrap .wrap-inner { padding-bottom: 20px; }
 
.wrap-inner .main-content {
	float: left;
	width: 600px; }
 
.sidebar {
	float: left;
	padding: 0 0 0 60px;
	width: 300px; }
 
.wrap-inner h2 {
	color: #7F7F7F;
	font-size: 1.4em;
	font-weight: bold;
	letter-spacing: 1.5px; }
 
.wrap-inner h3 {
	color: #7F7F7F;
	font-size: 1.1em;
	font-weight: bold;
	letter-spacing: 1.5px;
	margin: 1.5em 0 .75em 0;
	text-transform: uppercase; }
 
.wrap-inner .executives .column {
	margin-right: 50px;
	width: 230px; }
 
	.wrap-inner .executives .column dt { margin: 20px 0 0 0; }
 
	.wrap-inner .executives .column dd { margin: 0; }
 
.search {
	margin: 0 0 2em 0;
	width: 100%;
	clear: both; }
 
	.search input {
		font-size: 1.2em;
		margin: 20px 0 0 0;
		padding: 4px 3px;
		width: 250px; }
 
	.search button.submit {
		background: transparent url("../img/search.png") no-repeat;
		border: 0;
		cursor: pointer;
		height: 30px;
		width: 30px; }
 
.form dd {
	margin: 0 0 15px;
	position: relative; }
 
.form label {
	color: #4F4F4F;
	font-weight: normal; }
 
.form input, .form select, .form textarea {
	font-size: 1.2em;
	margin: 0;
	padding: 4px 3px;
	width: 97%; }
 
.form .submit {
	margin: 0 auto;
	width: 50%; }
 
.form ul.errors {
	list-style-type: none;
	margin: 0;
	padding: 0 }
 
	.form ul.errors li {
		color: #CC0000;
		font-family: garamond, georgia, serif;
		font-style: italic; }
 
.reverse.top-bar {
	list-style-type: none;
	margin: 0;
	padding: 3px 5px;
	text-align: right; }
 
	.reverse.top-bar li {
		float: right;
		padding-left: 20px; }
 
	.reverse.top-bar a {
		color: #fff;
		font-size: .95em;
		font-weight: bold;
		text-decoration: none; }
 
		.reverse.top-bar a:hover { text-decoration: underline; }
 
.reverse {
	background-color: #781e34;
	color: #fff; }
 
.contact { padding-bottom: 20px }
 
	.contact .column { width: 225px; }
 
		.contact .column:last-child { margin-right: 0; }
 
	.contact > h2 {
		color: #fff;
		margin-bottom: 0;
		padding-top: 30px; }
 
	.contact dt {
		color: #7FC2FF;
		font-size: 1em;
		margin: 25px 0 8px 0;
		text-transform: uppercase; }
 
	.contact dd { margin: 0; }
 
#footer {
	color: #8F8F8F;
	padding: 2% 3%;
	text-align: right; }
 
	#footer a { color: #8f8f8f; text-decoration: underline }
 
.clearfix:after {
	clear: both;
	content: ".";
	height: 0;
	visibility: hidden; }
	
.clearfix {display:inline-block;}
/* Hide from IE Mac \*/
.clearfix {display:block;}
/* End hide from IE Mac */
.row-1 { background-color: #eee; }
 
span.required {
	color: #DF0000;
	font-weight: bold;
	margin: 0 .25em; }