* {
	margin: 0;
	padding: 0 }
 
span.required {
	color: #DF0000;
	font-weight: bold;
	margin: 0 .25em; }
 
.form dd {
	margin: 0 0 15px;
	position: relative; }
 
.form label {
	font-weight: normal;
	color: #4F4F4F; }
 
.form input, .form select, .form textarea {
	width: 97%;
	padding: 4px 3px;
	font-size: 1.2em;
	margin: 0; }
 
.form .submit {
	width: 50%;
	margin: 0 auto; }
 
.form ul.errors {
	list-style-type: none;
	margin: 0;
	padding: 0 }
 
	.form ul.errors li {
		color: #CC0000;
		font-style: italic;
		font-family: garamond, georgia, serif }
 
body { color: #0F0F0F }
 
h1 { font-size: 1.5em; }
 
h2 { font-size: 1.4em; }
 
h3 { font-size: 1.25em }
 
a:link, a:active { color: #29866b; }
 
a:visited, a:hover { color: #864958; }
 
.header-inner, .wrap-inner {
	width: 960px;
	margin: 0 auto;
	padding: 0 3%;
	font-size: 1.2em; }
 
#header .header-inner h1 {
	padding: 2% 0 0 0;
	margin: 0;
	float: left; }
 
.search {
	float: right;
	margin: 0 0 2em 0; 
	width: 100%; }
 
	.search input {
		padding: 4px 3px;
		font-size: 1.2em;
		margin: 20px 0 0 0; }
 
	.search button.submit {
		cursor: pointer;
		height: 30px;
		width: 30px; 
		background: transparent url("../img/search.gif") no-repeat;
		border: 0; }
 
#nav { padding: 1% 0; }
 
	#nav ul {
		margin: 0 0 0 -8px;
		padding: 0; }
 
		#nav ul > li {
			float: left;
			list-style-type: none;
			padding: 0 10px 0 0; }
 
			#nav ul > li > a {
				color: #09447E;
				font-weight: bold;
				text-decoration: none;
				display: block;
				padding: 3px 8px; }
 
				#nav ul > li > a:hover {
					color: #fff;
					background-color: #09447e; }
 
.wrap .wrap-inner { padding-bottom: 20px; }
 
.wrap-inner .main-content {
	width: 600px;
	float: left; }
 
.sidebar {
	width: 300px;
	float: left;
	padding: 0 0 0 60px; }
 
.wrap-inner h2 {
	font-size: 1.4em;
	font-weight: bold;
	color: #7F7F7F;
	letter-spacing: 1.5px; }
 
.wrap-inner h3 {
	font-size: 1.1em;
	text-transform: uppercase;
	font-weight: bold;
	color: #7F7F7F;
	letter-spacing: 1.5px;
	margin: 1.5em 0 .75em 0; }
 
.wrap-inner .executives .column {
	margin-right: 50px;
	width: 230px; }
 
	.wrap-inner .executives .column dt { margin: 20px 0 0 0; }
 
	.wrap-inner .executives .column dd { margin: 0; }
 
.reverse.top-bar {
	padding: 3px 5px;
	text-align: right;
	margin: 0;
	list-style-type: none; }
 
	.reverse.top-bar li {
		padding-left: 20px;
		float: right; }
 
	.reverse.top-bar a {
		color: #fff;
		text-decoration: none;
		font-weight: bold;
		font-size: .95em; }
 
		.reverse.top-bar a:hover { text-decoration: underline; }
 
.reverse {
	background-color: #781e34;
	color: #fff; }
 
.contact { padding-bottom: 20px }
 
	.contact .column { width: 225px; }
 
		.contact .column:last-child { margin-right: 0; }
 
	.contact > h2 {
		padding-top: 30px;
		margin-bottom: 0;
		color: #fff; }
 
	.contact dt {
		margin: 25px 0 8px 0;
		font-size: 1em;
		color: #7FC2FF;
		text-transform: uppercase; }
 
	.contact dd { margin: 0; }
 
#footer {
	padding: 2% 3%;
	text-align: right;
	color: #8F8F8F; }
 
	#footer a { color: #8f8f8f; text-decoration: underline }
 
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden; }
 
.row-1 { background-color: #eee; }
 
 