ul#categories:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden; }

ul#categories li.category { width: 50%; float: left; }

.employer-image { margin-bottom: 20px; }

.sidebar > ul { list-style-type: none; margin: 0; padding: 0; }

ul#job_list { list-style-type: none; margin: 0; padding: 0; }

	ul#job_list > li, .sidebar > ul > li	{ padding-bottom: 10px; }