ul#categories:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden; }
 
ul#categories li.category {
	width: 50%;
	float: left; }
 
.employer-image { margin-bottom: 20px; clear: both; }
 
.sidebar > ul {
	list-style-type: none;
	margin: 0;
	padding: 0; }
 
ul#job_list {
	list-style-type: none;
	margin: 0;
	padding: 0; }
 
	ul#job_list > li, .sidebar > ul > li { padding-bottom: 10px; }
 
li.job > ul {
	margin: 0 0 10px 0;
	padding: 3px 4px;
	background: #efefef; }
 
	li.job > ul > li {
		display: inline;
		float: left;
		padding: 0 1.5em 0 0;
		font-size: .9em; }
 
li.job > p { clear: both; }
 
#categories {
	margin: 0;
	padding: 0;
	list-style-type: none; }
 
.employer-table {
	list-style-type: none;
	padding: 0;
	margin: 0; }
 
	.employer-table > li { padding: 5px 6px; }
 
	.employer-table li h4 {
		margin: 0;
		display: inline-block;
		float: left;
		font-size: 1em;		}
 
		.employer-table li h4 em { font-size: .75em; }
 
		.employer-table li h4 a {
			color: #0F0F0F;
			text-decoration: none; }
 
			.employer-table li h4 a:hover { text-decoration: underline; }
 
	.employer-table li ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
		float: right;
		display: inline-block; }
 
		.employer-table li ul li {
			float: left;
			padding-left: 15px;
			font-size: .9em; }
			
.add-new { margin: 1em 0; text-align: right; font-weight: bold; font-size: 1.1em; }

.date-added { font-style: italic; font-size: .8em; }