{% extends "base.html" %}

{% block title %}
	Log in
{% endblock %}

{% block content %}
<div class="main-content">
	<h2>Log In</h2>
	<form class="form" method="post" action="{% url django.contrib.auth.views.login %}">
		{% csrf_token %}
		<dl>
		 {% for field in form %}
			{% include "registration/form_snippet.html" %}
		{% endfor %}
		</dl>
		<input class="submit" type="submit" value="Log in" />
		<input type="hidden" name="next" value="{{ next }}" />
	</form>
	<p></p>
	<p><a href="/accounts/register">Don't have a login? Click here to register.</a></p>
</div>
<div class="sidebar"></div>
{% endblock %}