{% extends "base.html" %}

{% block title %}
	Register
{% endblock %}

{% block content %}
<div class="main-content">
	<h2>Register</h2>
	<form method="post" class="form" action="{% url registration_register %}">

		<dl>
		 {% for field in form %}
			{% include "registration/form_snippet.html" %}
		{% endfor %}
		</dl>
			
		<input class="submit" type="submit" value="Register" />
	</form>
</div>
<div class="sidebar">
	<h3>About Registration</h3>
	<p>Registration is currently limited to employers only. Job seeker registration is currently closed.</p>
	<p>If you're a job seeker, there's no need to register. <a href="/">Click here to start your job search</a>.
</div>
{% endblock %}